<div id="copyright">
    <ul>
        <li>&copy; {{date "" format="YYYY"}} {{@site.title}}</li>
        {{#if @site.secondary_navigation}}
            {{navigation type="secondary"}}
        {{/if}}
    </ul>
</div>
