<div id="copyright">
    <ul>
        <li>&copy; {{date "" format="YYYY"}} {{@site.title}}</li>
        <li><a href="/impressum">Impressum</a></li>
        <li><a href="/datenschutz">Datenschutz</a></li>
    </ul>
</div>
