{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<section class="gh-header is-classic{{#if @custom.background_image}}{{#if @site.cover_image}} has-image{{/if}}{{/if}} gh-outer">

        {{!-- Background image --}}
        {{> "components/search-background-image"}}

        <div class="gh-header-inner gh-inner">
            <h1 class="gh-header-title is-title">{{t "Press Releases Archive"}}</h1>
            <form class="gh-form">
                {{> "icons/search"}}
                <button class="gh-form-input" data-ghost-search>{{t "Search posts, tags and authors"}}</button>
            </form>
        </div>

</section>

{{> "components/cta"}}

{{> "components/post-list" feed="index" postFeedStyle="List" showTitle=true}}