.kg-toggle-card .kg-toggle-heading {
    align-items: baseline;
}

.kg-toggle-card-icon {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.kg-button-card {
    margin-top: 2rem !important;
}

.kg-header-card .kg-style-accent {
    background-image: _palette(heading-hover-gradient) !important;
}