.kg-toggle-card .kg-toggle-heading {
    align-items: baseline;
}

.kg-toggle-card-icon {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.kg-button-card {
    margin-top: 2rem !important;
}

.kg-header-card.kg-style-accent {
    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(to top right, rgb(227, 6, 19) 0%, rgb(196, 17, 68) 30%, rgb(167, 27, 113) 100%) !important;

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: auto, auto, cover;
}

.kg-bookmark-card > a.kg-bookmark-container > .kg-bookmark-content {
    .kg-bookmark-title {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .kg-bookmark-description {
        font-size: 0.9rem;

        @include breakpoint('<=medium') {
            font-size: 1rem;
        }
    }

    .kg-bookmark-metadata {
        font-size: 1rem;
        font-weight: 600;

        margin-top: 0.5rem;


        @include breakpoint('<=medium') {
            font-size: 1.1rem;
            margin-top: 0rem;
        }
    }
}
